<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{pagetitle}} | Austin360</title>
    <meta name="description" content="Austin American-Statesman restaurant critic Matthew Odam's guide to the best restaurants in Austin.">

    {# Facebook tags #}
    <meta property="og:title" content="{{pagetitle}}"/>
    <meta property="og:description" content="Austin American-Statesman restaurant critic Matthew Odam's guide to the best restaurants in Austin."/>
    {% if current %}
      <meta property="og:url" content="http://{{domain}}{{resourceurl}}{{current.id}}/"/>
      <meta property="og:image" content="http://{{domain}}{{resourceurl}}assets/inside/{{current.insideImg}}"/>
    {% else %}
      <meta property="og:url" content="http://{{domain}}{{resourceurl}}"/>
      <meta property="og:image" content="http://{{domain}}{{resourceurl}}assets/social-img.jpg"/>
    {% endif %}

    {# Twitter cards #}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@austin360" />
    <meta name="twitter:title" content="{{pagetitle}}" />
    <meta name="twitter:description" content="Austin American-Statesman restaurant critic Matthew Odam's guide to the best restaurants in Austin." />
    {% if current %}
      <meta property="twitter:url" content="http://{{domain}}{{resourceurl}}{{current.id}}/"/>
      <meta property="twitter:image" content="http://{{domain}}{{resourceurl}}assets/inside/{{current.insideImg}}"/>
    {% else %}
      <meta property="twitter:url" content="http://{{domain}}{{resourceurl}}"/>
      <meta property="twitter:image" content="http://{{domain}}{{resourceurl}}assets/social-img.jpg"/>
    {% endif %}

    {# Google WebFonts #}
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700|Titillium+Web:400,900,600,700' rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{resourceurl}}dist/styles.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    {% include "_headjs.html" %}

  </head>
  <body>

    <div class="header col-xs-12">
      <img class="center-block img-responsive" src="{{resourceurl}}assets/360logo.png" />
    </div>

    {% block superheader %}{% endblock %}

    <div class="container">
      {% block content %}{% endblock %}
    </div><!-- /.container -->

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script src="{{resourceurl}}bower_components/masonry/dist/masonry.pkgd.min.js"></script>
    <script>
    $(function() {
      var $container = $('#picks');
      // initialize
      $container.masonry({
        itemSelector: '.pick'
      });
    });
    </script>

    <script src="//localhost:35729/livereload.js"></script>

    <p class="center-block text-center" style="max-width: 500px;margin-bottom:20px;"><small>&copy; 2014 <a href="http://www.coxmediagroup.com" target="_blank">Cox Media Group</a>. By using this website,
    you accept the terms of our <a href="http://www.mystatesman.com/visitor_agreement/" target="_blank">Visitor Agreement</a> and <a target="_blank" href="http://www.mystatesman.com/privacy_policy/">Privacy Policy</a>, and understand your options regarding <a target="_blank" href="http://www.mystatesman.com/privacy_policy/#ad-choices">Ad Choices</a><img border="0" src="http://media.cmgdigital.com/shared/img/photos/2012/02/29/d3/da/ad_choices_logo.png" alt="AdChoices" style="margin: 0 0 0 4px;">.</small></p>

    {% include "_footerjs.html" %}
  </body>
</html>
