{% extends "base.twig" %}

{% block superheader %}

  <div class="container">
    <div class="col-xs-12">
      <ul class="list-inline pull-left">
        <li><a href="#grid"><span class="typcn typcn-th-large"></span> Grid view</a></li>
        <li><a href="#map"><span class="typcn typcn-map"></span> Map view</a></li>
      </ul>
      <ul class="list-inline pull-right social-share">
        <li><a href="#"><span class="typcn typcn-social-facebook-circular"></span></a></li>
        <li><a href="#"><span class="typcn typcn-social-twitter-circular"></span></a></li>
        <li><a href="#"><span class="typcn typcn-social-google-plus-circular"></span></a></li>
      </ul>
    </div>
  </div>

  <div id="slider" class="clearfix hidden-xs">
    <div class="slider-carousel clearfix">
      <div class="clearfix">
        {% for restaurant in data %}
          {% if loop.index is odd %}
            <div class="slider-item">
              <h3 class="number">{{loop.index}}</h3>
              <h2 class="name">{{restaurant.name}}</h2>
              <img src="assets/cover/{{restaurant.coverimg}}" />
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="clearfix">
        {% for restaurant in data %}
          {% if loop.index is even %}
            <div class="slider-item">
              <h3 class="number">{{loop.index}}</h3>
              <h2 class="name">{{restaurant.name}}</h2>
              <img src="assets/cover/{{restaurant.coverimg}}" />
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}

  <div class="row">

    <div class="col-xs-12 col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          Map, filters, etc.
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-8">

      {% for restaurant in data %}

        <div class="restaurant row">
          <div class="col-xs-2 col-sm-3 img-wrapper">
            <h3 class="number">{{loop.index}}</h3>
            <img class="img-responsive" src="assets/cover/{{restaurant.coverimg}}" />
          </div>
          <div class="col-xs-10 col-sm-9">
            <a href="{{loop.index0}}"><h2>{{restaurant.name}}</h2></a>
            <p>{{restaurant.address}}</p>
          </div>
        </div>

        <hr />

      {% endfor %}

    </div>

  </div>

{% endblock %}
