{% extends "base.twig" %}

{% block superheader %}
  <div class="container">
    <div class="intro col-xs-12">
      <h1>2014 Austin Dining Guide</h1>
      <h2>Matthew Odam's Top 25 restaurants</h2>
      <p>With my third annual dining guide, I limited my <a class="page-link" href="#slider">top restaurants list</a> to 25, down from 50.</p>
      <p>In previous years, the gap between 40 and 60 was negligible, and I wanted a tighter, more competitive list. (In order to share some of my other favorites, I created an additional roster of <a class="page-link" href="#picks-a">100 places I like to eat</a>).</p>
      <p>As in years past, I looked for a group of restaurants that serve as a snapshot of Austin's vibrant dining scene. These aren’t necessarily the most expensive restaurants, but it is a dynamic group of places I believe matter the most right now. I visited each place on the list (and many others) at least once in the past year.</p>
      <p>In order to be eligible for inclusion, restaurants had to be open before Aug. 1. That means intriguing newcomers like Olamaie and Dai Due will have to wait until next year to be considered. This is a list of traditional restaurants. Trailers, such as my top-ranking barbecue spot, La Barbecue, get their due in the list of the additional 100.</p>
      <p>I only selected restaurants with locations in Austin, so favorites like Leaning Pear in Wimberley and Taste of Ethiopia in Pflugerville did not get considered.</p>
      <p>Curious about new additions, noticeable omissions and movement in the rankings? Check out my blog at <a target="_blank" href="http://austin360.com/thefeed">austin360.com/thefeed</a>.</p>
      <p class="text-right"><em>- Matthew Odam</em></p>
    </div>
  </div>

  <div class="index-ad clearfix">
    {% include "_advertising.html" %}
  </div>

  <div class="container hp-nav-links">
    <div class="col-xs-12">
      <ul class="list-inline pull-left">
        <li><a class="page-link" href="#picks-a"><span class="typcn typcn-thumbs-up"></span> 100 picks</a></li>
        <li><a href="{{resourceurl}}map"><span class="typcn typcn-map"></span> Map view</a></li>
      </ul>
      {% include "_social-buttons.twig" %}
    </div>
  </div>

  <div id="top-25"></div>
  <div id="slider" class="clearfix hidden-xs">
    <div class="slider-carousel clearfix">
      <div class="clearfix">
        {% for restaurant in top %}
          {% if loop.index is odd %}
            {% include "_slider-item.twig" %}
          {% endif %}
        {% endfor %}
      </div>
      <div class="clearfix">
        {% for restaurant in top %}
          {% if loop.index is even %}
            {% include "_slider-item.twig" %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}

  {# Mobile restaurant list #}

  <div class="row hidden-sm hidden-md hidden-lg">

    <div class="col-xs-12 col-md-8">
      <hr />
      {% for restaurant in top %}
        <div class="restaurant row">
          <a href="{{loop.index0}}">
            <div class="col-xs-5 img-wrapper">
              <h3 class="number">{{restaurant.position}}</h3>
              <img class="img-responsive" src="assets/cover/{{restaurant.coverImg}}" />
            </div>
          </a>
          <div class="col-xs-5">
            <a href="{{loop.index0}}"><h2>{{restaurant.name}}</h2></a>
            <p>{{restaurant.shortDescription}}</p>
            <p>{{restaurant.address}}</p>
          </div>
        </div>
        <hr />
      {% endfor %}
    </div>

  </div>

  {# / Mobile list #}

  {# Also rans #}

  <h2 id="picks-a">Critic’s picks: 100 more places Matthew Odam likes to eat</h2>
  <p>This list of 100 places shouldn’t be considered numbers 26-125 in the Dining Guide. They represent a broad sampling of various cuisines. They’re places where I simply enjoy eating. Consider it something of a cheat-sheet for your dining needs when that age-old question (“Where should we eat?”) pops up. <em>- Matthew Odam</em></p>

  <div id="picks" class="row">
    {% include '_pick-list.twig' with {'title': "Barbecue", 'picks': picks.barbecue} %}
    {% include '_pick-list.twig' with {'title': "Breakfast", 'picks': picks.breakfast} %}
    {% include '_pick-list.twig' with {'title': "Burgers", 'picks': picks.burgers} %}
    {% include '_pick-list.twig' with {'title': "Chinese", 'picks': picks.chinese} %}
    {% include '_pick-list.twig' with {'title': "French", 'picks': picks.french} %}
    {% include '_pick-list.twig' with {'title': "Fried chicken", 'picks': picks.friedchicken} %}
    {% include '_pick-list.twig' with {'title': "Hotels", 'picks': picks.hotels} %}
    {% include '_pick-list.twig' with {'title': "Indian", 'picks': picks.indian} %}
    {% include '_pick-list.twig' with {'title': "Italian", 'picks': picks.italian} %}
    {% include '_pick-list.twig' with {'title': "Japanese", 'picks': picks.japanese} %}
    {% include '_pick-list.twig' with {'title': "Pizza", 'picks': picks.pizza} %}
    {% include '_pick-list.twig' with {'title': "Mexian and Tex-Mex", 'picks': picks.mexican} %}
    {% include '_pick-list.twig' with {'title': "Sandwiches", 'picks': picks.sandwiches} %}
    {% include '_pick-list.twig' with {'title': "Steakhouses", 'picks': picks.steakhouses} %}
    {% include '_pick-list.twig' with {'title': "Thai", 'picks': picks.thai} %}
    {% include '_pick-list.twig' with {'title': "Trailers", 'picks': picks.trailers} %}
    {% include '_pick-list.twig' with {'title': "Vegetarian-friendly", 'picks': picks.vegetarianfriendly} %}
    {% include '_pick-list.twig' with {'title': "Vietnamese", 'picks': picks.vietnamese} %}
    {% include '_pick-list.twig' with {'title': "Wildcards", 'picks': picks.wildcards} %}
    {% include '_pick-list.twig' with {'title': "Wine bars", 'picks': picks.winebars} %}
  </div>

  {# / Also rans #}

{% endblock %}

{% block scripts %}
  <script>
  $(function() {
    // Setup Masonry
    var $container = $('#picks');
    $container.masonry({
      itemSelector: '.pick'
    });

    // Animated page scroll
    $('.page-link').click(function(e) {
      e.preventDefault();
      var target = $($(this).attr('href'));
      $('html,body').animate({
        scrollTop: target.offset().top
      }, 750);
    })
  });
  </script>
{% endblock %}
