{% extends "base.twig" %}

{% block superheader %}

  <div class="container">
    <div class="col-xs-12">
      <ul class="list-inline pull-left">
        <li><a href="#map"><span class="typcn typcn-map"></span> View on a map</a></li>
      </ul>
      <ul class="list-inline pull-right social-share">
        <li><a href="#"><span class="typcn typcn-social-facebook-circular"></span></a></li>
        <li><a href="#"><span class="typcn typcn-social-twitter-circular"></span></a></li>
        <li><a href="#"><span class="typcn typcn-social-google-plus-circular"></span></a></li>
      </ul>
    </div>
  </div>

  <div id="slider" class="clearfix hidden-xs">
    <div class="slider-carousel clearfix">
      <div class="clearfix">
        {% for restaurant in top %}
          {% if loop.index is odd %}
            {% include "_slider-item.twig" %}
          {% endif %}
        {% endfor %}
      </div>
      <div class="clearfix">
        {% for restaurant in top %}
          {% if loop.index is even %}
            {% include "_slider-item.twig" %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}

  {# Mobile restaurant list #}

  <div class="row hidden-sm hidden-md hidden-lg">

    <div class="col-xs-12 col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          Map, filters, etc.
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-8">
      {% for restaurant in top %}
        <div class="restaurant row">
          <a href="{{loop.index0}}">
            <div class="col-xs-5 img-wrapper">
              <h3 class="number">{{restaurant.position}}</h3>
              <img class="img-responsive" src="assets/cover/{{restaurant.coverimg}}" />
            </div>
          </a>
          <div class="col-xs-5">
            <a href="{{loop.index0}}"><h2>{{restaurant.name}}</h2></a>
            <p>{{restaurant.address}}</p>
          </div>
        </div>
        <hr />
      {% endfor %}
    </div>

  </div>

  {# / Mobile list #}

  {# Also rans #}

  <h2>Critic’s picks: 100 more places Matthew Odam likes to eat</h2>
  <p>This list of 100 places shouldn’t be considered numbers 26-125 in the Dining Guide. They represent a broad sampling of various cuisines. They’re places where I simply enjoy eating. Consider it something of a cheat-sheet for your dining needs when that age-old question (“Where should we eat?”) pops up. <em>- Matthew Odam</em></p>

  <div id="picks" class="row">
    {% include '_pick-list.twig' with {'title': "Barbecue", 'picks': picks.barbecue} %}
    {% include '_pick-list.twig' with {'title': "Breakfast", 'picks': picks.breakfast} %}
    {% include '_pick-list.twig' with {'title': "Burgers", 'picks': picks.burgers} %}
    {% include '_pick-list.twig' with {'title': "Chinese", 'picks': picks.chinese} %}
    {% include '_pick-list.twig' with {'title': "French", 'picks': picks.french} %}
    {% include '_pick-list.twig' with {'title': "Fried chicken", 'picks': picks.friedchicken} %}
    {% include '_pick-list.twig' with {'title': "Hotels", 'picks': picks.hotels} %}
  </div>

  {# / Also rans #}

{% endblock %}
