{% extends "base.twig" %}

{% block superheader %}
  <div class="container map-nav">
    <div class="col-xs-12">
      <ul class="list-inline pull-left">
        <li><a href="{{resourceurl}}#slider"><span class="typcn typcn-th-list"></span> Top 25</a></li>
        <li><a class="page-link" href="{{resourceurl}}#picks-a"><span class="typcn typcn-thumbs-up"></span> 100 picks</a></li>
      </ul>
      {% include "_social-buttons.twig" %}
    </div>
  </div>

  <div id="map" style="width:100%;height: auto;margin-bottom: 10px;"></div>
{% endblock %}

{% block scripts %}
  <script>
  $(function() {
    var map = new GMaps({
      div: '#map',
      lat: 30.2500,
      lng: -97.7500,
      mapType: 'terrain'
    });
    var markers = [];
    {% for location in locations %}
      markers.push({
        lat: {{location.lat}},
        lng: {{location.long}},
        icon: '{{resourceurl}}assets/markers/{{location.position}}.png',
        infoWindow: {
          content: '<div class="google-maps-popup"><h3>{{location.name}}</h3><p>{{location.address}}</p><p><a href="{{resourceurl}}{{loop.index0}}">More info <span class="typcn typcn-chevron-right"></span></p></a></div>'
        }
      });
    {% endfor %}
    map.addMarkers(markers);

    var fitMap = function() {
      var winHeight = $(window).outerHeight(),
          navHeight = $('.map-nav').outerHeight(),
          legalHeight = $('.legal').outerHeight();
      $('#map').height(winHeight - navHeight - legalHeight - 20);
      map.fitZoom();
    };
    fitMap();

    // Debounced window resize function from https://github.com/louisremi/jquery-smartresize#minimalist-standalone-version
    function on_resize(c,t){onresize=function(){clearTimeout(t);t=setTimeout(c,100)};return c};
    on_resize(fitMap);
  });
  </script>
{% endblock %}
