{% extends "base.twig" %}

{% block content %}
</div>
  <div class="container">
    <div class="col-xs-12">
      <ul class="list-inline pull-left">
        <li><a href="{{resourceurl}}"><span class="typcn typcn-th-list"></span> List view</a></li>
      </ul>
      {% include "_social-buttons.twig" %}
    </div>
  </div>

  <div id="map" style="width:100%;height: 500px;"></div>
<div class="container">
{% endblock %}

{% block scripts %}
  <script>
  $(function() {
    var headerHeight = $('.header').outerHeight();
    var winHeight = $(window).height();
    $('#map').height(winHeight - headerHeight - 50);
  });
  </script>
  <script>
    var map = new GMaps({
      div: '#map',
      lat: 30.2500,
      lng: -97.7500,
      mapType: 'terrain'
    });
    var markers = [];
    {% for location in locations %}
      markers.push({
        lat: {{location.lat}},
        lng: {{location.long}},
        icon: '{{resourceurl}}assets/markers/{{location.position}}.png',
        infoWindow: {
          content: '<div class="google-maps-popup"><h3>{{location.name}}</h3><p>{{location.address}}</p><p><a href="{{resourceurl}}{{loop.index0}}">More info <span class="typcn typcn-chevron-right"></span></p></a></div>'
        }
      });
    {% endfor %}
    map.addMarkers(markers);
    map.fitZoom();
  </script>
{% endblock %}
